.parallaxEffect-main {}

.parallaxEffect-gallery {
  height: 175vh;
  background: rgb(45, 45, 45);
  position: relative;
  display: flex;
  gap: 2vw;
  padding: 2vw;
  box-sizing: border-box;
  overflow: hidden;
}

.parallaxEffect-column {
  position: relative;
  height: 100%;
  width: 25%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.parallaxEffect-imageContainer {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 1vw;
  overflow: hidden;

}

.parallaxEffect-imageContainer img {
  object-fit: cover;
}

.spacer {
  height: 100vh;
}