.provideCoa {
  width: 100%;
  min-height: 100vh;
  background: url('../../../assets/provideCoabg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* padding: 50px; */
}

.provideCoa-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.providecoa-banner {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  margin: 60px 40px;
  color: #fff;
  padding: 10px 50px;
}

.providecoa-banner div {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.providecoa-banner h2 {
  font-family: 'AllerDisplay';
  font-size: 75px;
  letter-spacing: 1.8px;


}

.providecoa-banner p {
  font-size: 18px;
  letter-spacing: 1.5px;
  font-family: 'AfterglowRegular';

}

.providecoa-banner img {
  width: 400;
}

.providecoa-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: auto;
  gap: 40px;
  padding: 20px;
  margin-bottom: 50px;
  /* justify-content: center; */

}

.providecoa-cards div h3 {
  font-family: 'AllerDisplay';
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 22px;

}

.providecoa-cards div p {
  font-family: 'AfterglowRegular';
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.7px;

}

.providecoa-cards img {
  width: 140px;
}

.providecoa-whiteCards {
  background: white;
  color: #EA6412;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  cursor: pointer;
}

.providecoa-orangeCards {
  background: #EA6412;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  padding: 20px;
}

@media(max-width:1215px) {
  .providecoa-banner {

    padding: 40px 50px;
  }

  .providecoa-banner div {

    gap: 10px;
  }

  .providecoa-banner h2 {

    font-size: 60px;



  }

  .providecoa-banner p {
    font-size: 17px;
    letter-spacing: 1.2px;


  }

  .providecoa-banner img {
    width: 50%;
  }
}

@media(max-width:1000px) {
  .providecoa-banner {

    padding: 40px 50px;
  }

  .providecoa-banner div {

    gap: 10px;
  }

  .providecoa-banner h2 {

    font-size: 40px;



  }

  .providecoa-banner p {
    font-size: 17px;
    letter-spacing: 1.2px;


  }

  .providecoa-banner img {
    width: 55%;
  }
}

@media(max-width:800px) {
  .providecoa-banner {

    padding: 40px 50px;
    flex-direction: column;
  }


  .providecoa-banner img {
    width: 80%;
    margin-bottom: -30px;
  }
}

@media(max-width:550px) {
  .providecoa-banner {
    margin: 40px 20px;
    padding: 30px;
    flex-direction: column;
  }


  .providecoa-banner img {
    width: 100%;
    margin-bottom: -30px;
    margin-top: 20px;
  }

  .providecoa-banner p {
    font-size: 17px;
    letter-spacing: 1.2px;
  }

  .providecoa-banner h2 {
    font-size: 35px;
  }
}

@media(max-width:400px) {
  .providecoa-banner {
    margin: 40px 15px;
    padding: 30px 20px;
    flex-direction: column;
  }


  .providecoa-banner img {
    width: 100%;
    margin-bottom: -30px;
    margin-top: 20px;
  }

  .providecoa-banner p {
    font-size: 17px;
    letter-spacing: 1.2px;
  }

  .providecoa-banner h2 {
    font-size: 35px;
  }
}