.packaging {
  width: 100%;
  /* margin-top: 10vh; */
  height: 100%;
  position: relative;
  background: #1e1e1e;
  /* background: url('../../assets/LOGO.svg'); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;

  /* overflow-x: hidden; */

}

.packaging-text {
  background: #1e1e1e;
  /* height: 100%; */
  position: fixed;
  font-size: 450px;
  display: flex;
  padding-top: 20vh;
  height: 100vh;
  text-align: center;

  letter-spacing: 20px;
  align-items: center;
  width: 100%;
  padding-left: 30px;
  font-family: 'AmazDooMLeft';
  z-index: -1;
  color: #c63e23;

  justify-content: center;
}

.packaging-text-br {
  display: none;
}

.packaging-container {
  width: 100%;
  padding-top: 20px;
  min-height: 100vh;
  /* overflow-y: auto; */
  display: flex;
  color: #fff;
  z-index: 10;
  position: relative;
  /* background: #fff; */
  padding-bottom: 250px;
}

.packaging-container p {
  font-size: 20px;
  font-family: 'AfterglowRegular';
  line-height: 1.3;
  letter-spacing: 0.8px;
}

.packaging-container h2 {
  font-size: 24px;
}

.packaging-container h3 {
  font-size: 20px;
}

.package1, .package2, .package3, .package4, .package5, .package6, .package7, .package8 {
  /* background-color: rgba(0, 0, 0, 0.); */
  z-index: 20;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  color: #1e1e1e;
  /* background: #fff; */

}

.package-content1, .package-content2, .package-content3, .package-content4, .package-content5, .package-content6, .package-content7, .package-content8, .package-content9, .package-content10, .package-content11, .package-content12 {
  z-index: 20;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.package-content1 h4, .package-content2 h4, .package-content3 h4, .package-content4 h4, .package-content5 h4, .package-content6 h4, .package-content7 h4, .package-content8 h4, .package-content9 h4, .package-content10 h4, .package-content11 h4, .package-content12 h4 {
  font-family: 'AfterglowRegular';
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.8px;
  font-weight: 300;
}

.packaging-container div h3 {
  /* font-size: 24px; */
}

.package1 span, .package2 span, .package3 span, .package4 span, .package5 span, .package6 span, .package7 span, .package8 span {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* bottom: 150px; */
  color: #4d4d4d;
  /* color: #000; */
  font-family: 'AfterglowRegular';
  letter-spacing: 1px;
  /* font-size: 18px; */
}

.package-content1 {
  top: 20%;
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px 30px;
  word-spacing: 4px;
}

.package-content2 {
  top: 120%;
  right: 30%;
  width: 30%;

}

.package-content3 {
  top: 140%;
  right: 32%;
  width: 30%;
  /* align-items: start; */
  text-align: end;
}

.package-content4 {
  top: 160%;
  right: 30%;
  width: 30%;

}

.package-content5 {
  top: 190%;
  width: 32%;
  right: 5%;
  text-align: end;
  gap: 10px;
}

.package-content6 {
  top: 250%;
  left: 40%;
  width: 35%;
  gap: 10px;
}

.package-content7 {
  top: 300%;
  width: 35%;
  left: 08%;
}

.package-content8 {
  top: 350%;
  width: 35%;
  right: 10%;
  gap: 10px;
}


.package-content9 {
  top: 395%;
  width: 35%;
  left: 10%;
}

.package-content10 {
  top: 410%;
  width: 35%;
  left: 10%;
  gap: 10px;
}

.package-content11 {
  top: 445%;
  width: 32%;
  right: 10%;
}

.package-content12 {
  top: 475%;
  width: 50%;
  left: 10%;
  gap: 15px;
}

.package1 {
  right: 35%;
  top: 60%;
}

.package1 span {
  bottom: 8%;
}


.package1 img {
  width: 250px;
}

.package2 {
  top: 90%;
  left: 5%;
}

.package2 img {
  width: 400px;
}

.package2 span {
  bottom: 25%;
  right: 12%;
}


.package3 {
  top: 90%;
  right: 8%;
}

.package3 img {
  width: 230px;

}

.package3 span {
  display: flex;
  flex-direction: row;
  transform: rotate(270deg);
  bottom: 20%;
  right: -35%;
  gap: 10px;
}

.package4 {
  top: 180%;
  left: 22%;
}

.package4 img {
  width: 500px;

}

.package4 span {
  bottom: 35%;
  right: 100px;
}


.package5 {
  top: 235%;
  left: 7%;

}

.package5 img {
  width: 350px;
}

.package5 span {
  top: 55%;
  right: 05px;
}

.package6 {
  top: 275%;
  right: 10%;
}

.package6 img {
  width: 450px;
}

.package6 span {
  bottom: 40%;
  right: 20%;
}

.package7 {
  top: 340%;
  left: 10%;
}

.package7 img {
  width: 600px;
}

.package7 span {
  left: 10%;
  top: 10%;
}



.package8 {
  top: 380%;
  right: 10%;
  padding-bottom: 100px;
}

.package8 img {
  width: 400px;

}

.package8 span {
  bottom: 45%;
  right: 15%;
}

.packaging-footer {
  position: absolute;
  /* top: 200%;
  left: 0; */
  margin: 50px 0;
  top: 510%;
  width: 100%;
}

@media(max-width:1300px) {
  .packaging-text {
    background: #1e1e1e;
    /* height: 100%; */
    height: 100vh;
    width: 100%;
    position: fixed;
    font-size: 380px;
    display: flex;
    padding-top: 20vh;
    letter-spacing: 5px;
    align-items: center;

    text-align: center;
    /* padding-left: 30px; */
    font-family: 'AmazDooMLeft';
    z-index: -1;
    color: #c63e23;

    justify-content: center;
  }

  .packaging-text-br {
    display: none;
  }
}

@media(max-width:1250px) {
  .packaging-container h2 {
    font-size: 21px;
  }

  .packaging-container h3 {
    font-size: 18px;
  }

  .package-content1 {
    top: 20%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    word-spacing: 4px;
  }

  .package-content2 {
    top: 160%;
    right: 40%;
    width: 50%;

  }

  .package-content3 {
    top: 178%;
    right: 40%;
    width: 50%;
    /* align-items: start; */
    text-align: end;
  }

  .package-content4 {
    top: 197%;
    right: 40%;
    width: 50%;

  }

  .package-content5 {
    top: 220%;
    width: 35%;
    right: 5%;
    text-align: end;
    gap: 10px;
  }

  .package-content6 {
    top: 345%;
    left: 05%;
    width: 50%;
    gap: 10px;
  }

  .package-content7 {
    top: 420%;
    width: 50%;
    left: 45%;

  }

  .package-content8 {
    top: 450%;
    width: 60%;
    right: 30%;
    gap: 10px;
  }


  .package-content9 {
    top: 478%;
    width: 60%;
    left: 10%;
  }

  .package-content10 {
    top: 550%;
    width: 65%;
    left: 10%;
    gap: 10px;
  }

  .package-content11 {
    top: 578%;
    width: 60%;
    right: 30%;

  }

  .package-content12 {
    top: 600%;
    width: 80%;
    left: 10%;
    gap: 15px;
  }

  .package1 {
    right: 35%;
    top: 68%;
  }

  .package1 span {
    bottom: 8%;
  }


  .package1 img {
    width: 200px;
  }

  .package2 {
    top: 105%;
    left: 5%;
  }

  .package2 img {
    width: 340px;
  }

  .package2 span {
    bottom: 25%;
    right: 12%;
  }


  .package3 {
    top: 100%;
    right: 5%;
  }

  .package3 img {
    width: 200px;

  }

  .package3 span {
    display: flex;
    flex-direction: row;
    transform: rotate(270deg);
    bottom: 20%;
    right: -35%;
    gap: 10px;
  }

  .package4 {
    top: 220%;
    left: 3%;
  }

  .package4 img {
    width: 400px;

  }

  .package4 span {
    bottom: 35%;
    right: 100px;
  }


  .package5 {
    top: 270%;
    left: 7%;

  }

  .package5 img {
    width: 300px;
  }

  .package5 span {
    top: 55%;
    right: 05px;
  }

  .package6 {
    top: 295%;
    right: 05%;
  }

  .package6 img {
    width: 320px;
  }

  .package6 span {
    bottom: 40%;
    right: 20%;
  }

  .package7 {
    top: 375%;
    left: 15%;
  }

  .package7 img {
    width: 600px;
  }

  .package7 span {
    left: 10%;
    top: 10%;
  }



  .package8 {
    top: 490%;
    right: 10%;
    padding-bottom: 100px;
  }

  .package8 img {
    width: 400px;

  }

  .package8 span {
    bottom: 45%;
    right: 15%;
  }

  .packaging-footer {
    position: absolute;
    /* top: 200%;
  left: 0; */
    margin: 50px 0;
    top: 640%;
    width: 100%;
  }
}

@media(max-width:1100px) {
  .packaging-text {
    background: #1e1e1e;
    /* height: 100%; */
    height: 100vh;
    width: 100%;
    position: fixed;
    font-size: 280px;
    display: flex;
    padding-top: 20vh;
    letter-spacing: 5px;
    align-items: center;

    text-align: center;
    /* padding-left: 30px; */
    font-family: 'AmazDooMLeft';
    z-index: -1;
    color: #c63e23;

    justify-content: center;
  }

  .packaging-text-br {
    display: none;
  }


}

@media(max-width:800px) {
  .packaging-text {
    background: #1e1e1e;
    /* height: 100%; */
    height: 100vh;
    width: 100%;
    position: fixed;
    font-size: 300px;
    display: flex;
    padding-top: 25vh;
    letter-spacing: 20px;
    align-items: center;
    line-height: 1;
    text-align: center;
    /* padding-left: 30px; */
    font-family: 'AmazDooMLeft';
    z-index: -1;
    color: #c63e23;

    justify-content: center;
    display: none;
  }

  .packaging-text-br {
    display: flex;
  }
}

@media(max-width:750px) {
  .packaging-container p {
    font-size: 18px;
    font-family: 'AfterglowRegular';
    line-height: 1.3;
    letter-spacing: 01px;
    font-weight: 300;
  }

  .packaging-container h2 {
    font-size: 18px;
  }

  .packaging-container h3 {
    font-size: 15px;
  }

  .package-content1 {
    top: 20%;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 25px;
    word-spacing: 4px;
  }

  .package-content2 {
    top: 155%;
    right: 05%;
    width: 80%;

  }

  .package-content3 {
    top: 175%;
    right: 15%;
    width: 75%;
    /* align-items: start; */
    text-align: end;
  }

  .package-content4 {
    top: 195%;
    right: 5%;
    width: 80%;

  }

  .package-content5 {
    top: 300%;
    width: 70%;
    right: 20%;
    text-align: start;
    gap: 10px;
  }

  .package-content6 {
    top: 380%;
    left: 20%;
    width: 70%;
    text-align: end;
    gap: 10px;
  }

  .package-content7 {
    top: 450%;
    width: 75%;
    left: 8%;

  }

  .package-content8 {
    top: 525%;
    width: 70%;
    right: 20%;
    gap: 10px;
  }


  .package-content9 {
    top: 550%;
    width: 60%;
    left: 10%;
  }

  .package-content10 {
    top: 600%;
    width: 75%;
    left: 10%;
    gap: 10px;
  }

  .package-content11 {
    top: 682%;
    width: 70%;
    right: 20%;

  }

  .package-content12 {
    top: 700%;
    width: 80%;
    left: 10%;
    gap: 15px;
  }

  .package1 {
    right: 10%;
    top: 70%;
  }

  .package1 span {
    bottom: 8%;
  }


  .package1 img {
    width: 200px;
  }

  .package2 {
    top: 110%;
    left: 5%;
  }

  .package2 img {
    width: 300px;
  }

  .package2 span {
    bottom: 25%;
    right: 12%;
  }


  .package3 {
    top: 215%;
    right: 20%;
  }

  .package3 img {
    width: 200px;

  }

  .package3 span {
    display: flex;
    flex-direction: row;
    transform: rotate(270deg);
    bottom: 20%;
    right: -30%;
    gap: 10px;
  }

  .package4 {
    top: 340%;
    left: 10%;
  }

  .package4 img {
    width: 350px;

  }

  .package4 span {
    bottom: 35%;
    right: 100px;
  }


  .package5 {
    top: 405%;
    left: 7%;

  }

  .package5 img {
    width: 300px;
  }

  .package5 span {
    top: 55%;
    right: 05px;
  }

  .package6 {
    top: 475%;
    right: 05%;
  }

  .package6 img {
    width: 320px;
  }

  .package6 span {
    bottom: 40%;
    right: 20%;
  }

  .package7 {
    top: 565%;
    left: 10%;
  }

  .package7 img {
    width: 450px;
  }

  .package7 span {
    left: 10%;
    top: 10%;
  }



  .package8 {
    top: 628%;
    right: 10%;
    padding-bottom: 100px;
  }

  .package8 img {
    width: 350px;

  }

  .package8 span {
    bottom: 45%;
    right: 15%;
  }

  .packaging-footer {
    position: absolute;
    /* top: 200%;
  left: 0; */
    margin: 50px 0;
    top: 740%;
    width: 100%;
  }
}


@media(max-width:550px) {

  /* .packaging-container div span h2 {
    font-size: 20px;
  }

  .packaging-container div span h3 {
    font-size: 16px;
  } */


  .packaging-text {
    background: #1e1e1e;
    /* height: 100%; */
    height: 100vh;
    width: 100%;
    position: fixed;
    font-size: 250px;
    display: flex;
    padding-top: 20vh;
    letter-spacing: 20px;
    align-items: center;
    line-height: 1;
    text-align: center;
    /* padding-left: 30px; */
    font-family: 'AmazDooMLeft';
    z-index: -1;
    color: #c63e23;

    justify-content: center;
    display: none;
  }

  .packaging-text-br {
    display: flex;
  }

  .package-content1 {
    top: 20%;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.45);
    padding: 25px;
    /* word-spacing: 3px; */
    margin-top: -30px;
  }

  .package1 {
    right: 10%;
    top: 75%;
  }

  .package7 img {
    width: 390px;
  }

  .package-content5 {
    top: 300%;
    width: 80%;
    right: 10%;
    text-align: start;
    gap: 10px;
  }

  .package-content6 {
    top: 380%;
    left: 7%;
    width: 85%;
    text-align: end;
    gap: 10px;
  }

  .package-content11 {
    top: 685%;
    width: 70%;
    right: 20%;

  }

  .package-content12 {
    top: 710%;
    width: 80%;
    left: 10%;
    gap: 15px;
  }

  .package8 {
    top: 632%;
    right: 10%;
    padding-bottom: 100px;
  }

  .package-content8 {
    top: 525%;
    width: 85%;
    right: 10%;
    gap: 10px;
  }


  .package-content9 {
    top: 553%;
    width: 80%;
    left: 5%;
  }

  .packaging-footer {
    position: absolute;
    /* top: 200%;
  left: 0; */
    margin: 50px 0;
    top: 755%;
    width: 100%;
  }

}


@media(max-width:450px) {

  .packaging-text {
    background: #1e1e1e;
    /* height: 100%; */
    height: 100vh;
    width: 100%;
    position: fixed;
    font-size: 220px;
    display: flex;
    padding-top: 18vh;
    letter-spacing: 15px;
    align-items: center;
    line-height: 1;
    text-align: center;
    /* padding-left: 30px; */
    font-family: 'AmazDooMLeft';
    z-index: -1;
    color: #c63e23;

    justify-content: center;
    display: none;
  }

  .packaging-text-br {
    display: flex;
  }

  .packaging-container p {
    font-size: 17px;
    font-family: 'AfterglowRegular';
    line-height: 1.3;
    letter-spacing: 01px;
    font-weight: 300;
  }

  .packaging-container h2 {
    font-size: 18px;
  }

  .packaging-container h3 {
    font-size: 15px;
  }

  .package-content1 {
    top: 20%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.45);
    padding: 20px 25px;
    /* word-spacing: 3px; */
    margin-top: 0px;
  }


  .package-content2 {
    top: 190%;
    right: 0%;
    width: 92%;

  }

  .package-content3 {
    top: 208%;
    right: 8%;
    width: 90%;
    /* align-items: start; */
    text-align: end;
  }

  .package-content4 {
    top: 225%;
    right: 3%;
    width: 90%;
    text-align: start;
  }

  .package-content5 {
    top: 330%;
    width: 88%;
    right: 4%;
    text-align: start;
    gap: 10px;
  }

  .package-content6 {
    top: 415%;
    left: 4%;
    width: 90%;
    text-align: end;
    gap: 10px;
  }


  .package-content7 {
    top: 495%;
    width: 85%;
    left: 8%;

  }

  .package-content8 {
    top: 570%;
    width: 88%;
    right: 7%;
    gap: 10px;
  }


  .package-content9 {
    top: 600%;
    width: 88%;
    left: 06%;
  }

  .package-content10 {
    top: 645%;
    width: 88%;
    left: 8%;
    gap: 10px;
  }

  .package-content11 {
    top: 725%;
    width: 88%;
    right: 5%;

  }

  .package-content12 {
    top: 750%;
    width: 85%;
    left: 8%;
    gap: 15px;
  }



  .package1 {
    right: 10%;
    top: 90%;
  }

  .package1 span {
    bottom: 8%;
  }


  .package1 img {
    width: 200px;
  }

  .package2 {
    top: 145%;
    left: 5%;
  }

  .package2 img {
    width: 300px;
  }

  .package2 span {
    bottom: 25%;
    right: 12%;
  }


  .package3 {
    top: 247%;
    right: 20%;
  }

  .package3 img {
    width: 200px;
    height: 475px;
  }

  .package3 span {
    display: flex;
    flex-direction: row;
    transform: rotate(270deg);
    bottom: 20%;
    right: -30%;
    gap: 10px;
  }

  .package4 {
    top: 378%;
    left: 10%;
  }

  .package4 img {
    width: 300px;

  }

  .package4 span {
    bottom: 35%;
    right: 60px;
  }


  .package5 {
    top: 450%;
    left: 7%;

  }

  .package5 img {
    width: 300px;
  }

  .package5 span {
    top: 55%;
    right: 05px;
  }

  .package6 {
    top: 525%;
    right: 12%;
  }

  .package6 img {
    width: 280px;
  }

  .package6 span {
    bottom: 40%;
    right: 20%;
  }

  .package7 {
    top: 618%;
    left: 10%;
  }

  .package7 img {
    width: 300px;
  }




  .package7 span {
    left: 10%;
    top: 10%;
  }




  .package8 {
    top: 680%;
    right: 10%;
    padding-bottom: 100px;
  }

  .package8 img {
    width: 280px;

  }

  .package8 span {
    bottom: 45%;
    right: 15%;
  }


  .packaging-footer {
    position: absolute;
    /* top: 200%;
  left: 0; */
    margin: 50px 0;
    top: 795%;
    width: 100%;
  }


}

@media(max-width:375px) {

  .packaging-text {
    background: #1e1e1e;
    /* height: 100%; */
    height: 100vh;
    width: 100%;
    position: fixed;
    font-size: 200px;
    display: flex;
    padding-top: 18vh;
    letter-spacing: 10px;
    align-items: center;
    line-height: 1;
    text-align: center;
    /* padding-left: 30px; */
    font-family: 'AmazDooMLeft';
    z-index: -1;
    color: #c63e23;

    justify-content: center;
    display: none;
  }

  .packaging-text-br {
    display: flex;
  }

}