.socialMedia {
  width: 100%;
  min-height: 100vh;
  background: #1e1e1e;
  color: #fff;
}

.socialMedia-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
}

.socialMedia-header .socialMedia-img1 {
  width: 93%;
  padding-top: 60px;
}

.socialMedia-header p {
  margin-top: -15%;
  width: 95%;
  letter-spacing: 1px;
  font-size: 17.5px;
  font-family: 'MadeTommySoft';
  text-align: center;
}

/* ===========socialmedia-subContainer1 ============== */

.socialmedia-subContainer1 {
  width: 100%;
  position: relative;
}

.socialMedai-bgVideo {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  position: relative;
  transition: width 0.3s ease;
  /* position: relative; */

}

.socialMedai-bgVideo video {
  margin-top: 250px;


  z-index: 1;
}

.socialMedia-bgVideo video {
  width: 100%;
  /* Make the video take the full width of the container */
}

.socialMedia-content1 {
  width: 50%;
  position: absolute;
  top: 11%;
  text-align: center;
  font-family: 'MadeTommySoft';
  font-size: 18px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 2;
}


/* =====================socialmedia-videoContent1================= */




.socialmedia-videoContent1 {
  width: 100%;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  top: 10%;
  z-index: 2;
}

.socialmedia-videoContent1-left {
  display: flex;
  flex-direction: column;
  margin-top: -20px;

}

.socialmedia-videoContent1-left video {
  width: 100%;
  height: 45vh;
}

.socialmedia-videoContent1-left video:last-child {
  margin-top: 50px;
}

.socialmedia-videoContent1-right video {
  width: 100%;
  height: 90vh;
}

.socialmedia-videoContent1-middle {
  top: 50px;


  /* position: absolute; */
  background: rgba(0, 0, 0, 0.8);
  margin-top: 350px;
  width: 35%;
  height: 60vh;

}

.socialmedia-videoContent1-middle ul {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 50px;
  text-align: center;
}

.socialmedia-videoContent1-middle ul p {
  font-family: 'MadeTommySoft';
  letter-spacing: 0.8px;
  font-size: 15px;
}

.socialmedia-videoContent1-middle ul h2 {
  font-family: 'MadeTommySoft';
  letter-spacing: 0.8px;
  font-weight: 100;
  font-size: 22px;
}


/* =====================socialmedia-videoContent2================= */


.socialmedia-videoContent2 {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  top: 38%;
  z-index: 2;
}

.socialmedia-videoContent2-left {
  display: flex;
  width: 30%;

  flex-direction: column;
  /* margin-top: -20px; */
  /* margin-left: 100px; */

}

.socialmedia-videoContent2-right {
  display: flex;
  flex-direction: column;
  width: 30%;

}

.socialmedia-videoContent2-middle {
  background: rgba(0, 0, 0, 0.8);
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  font-family: 'MadeTommySoft';

}

.socialmedia-videoContent2-left video {
  width: 70%;
  /* height: 45vh; */
  margin-left: 70px;

}


.socialmedia-videoContent2-right video {
  width: 70%;
  margin-left: 50px;
}


.socialmedia-videoContent2-middle ul {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 50px;
  text-align: center;
}

.socialmedia-videoContent2-middle h2 {
  font-size: 26px;
}

.socialmedia-videoContent2-middle ul h3 {
  font-size: 19px;
}

.socialmedia-videoContent2-middle ul p {
  font-size: 16px;
}

.socialmedia-videoContent2-left video:last-child, .socialmedia-videoContent2-right video:last-child {
  margin-top: 50px;
}



/* ==========socialMedia-connect==================== */

.socialMedia-connect {
  font-family: 'AllerDisplay';
  padding: 50px;
  padding-top: 0px;
}

.socialMedia-connect h1 {
  font-size: 65px;
  text-align: center;
  font-weight: 200;
  padding: 30px 10px;
}

.socialMedia-connect p {
  font-family: 'AfterglowRegular';
  letter-spacing: 1.3px;
  font-weight: 200;
  font-size: 18px;

}

.socialMedia-connect h1 {
  font-size: 65px;
  text-align: center;
  font-weight: 200;
  padding: 30px 10px;
  transition: all 0.5s ease;
}

.socialMedia-connect p {
  font-family: 'AfterglowRegular';
  letter-spacing: 1.3px;
  font-weight: 200;
  font-size: 18px;
}

/* Animation keyframes */
@keyframes shrinkAndMove {
  0% {
    font-size: 65px;
    text-align: center;
    margin-left: 0;
  }

  100% {
    font-size: 30px;
    text-align: left;
    margin-left: 10px;
  }
}



.socialMedia-connect form {
  margin-top: 50px;
  width: 30%;
  display: flex;
  font-family: 'AfterglowRegular';
  flex-direction: column;
  justify-content: end;
  align-items: start;
  margin-right: 0;
  margin-left: 60%;

}

.socialMedia-connect form input, .socialMedia-connect form textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  outline: 0;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  margin-top: 5px;
  font-family: 'AfterglowRegular';
  font-weight: 00;
  letter-spacing: 2px;
}

.socialMedia-connect form label {
  margin-top: 10px;
  margin-left: 5px;
}

.socialMedia-connect form button {
  margin: auto;
  margin-top: 30px;
  background: #EF4523;
  outline: 0;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;

}