.blog-header {
  background: linear-gradient(to right,
      #1E1E1E 0%,
      #1E1E1E 50%,
      #EF4523 50%,
      #EF4523 100%);
  width: 100%;
  min-height: 100vh;

  position: relative;
}

.blog-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* align-items: end; */
  top: 30%;
  color: #fff;
  left: 3%;

}

.blog-text h1 {
  font-family: 'AllerDisplay';
  font-size: 140px;
  font-weight: 300;
  text-transform: uppercase;

}

.blog-text h2 {
  font-family: 'AfterglowRegular';
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  font-size: 100px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: -25px;
}

.blog-text h3 {
  font-family: 'AfterglowRegular';
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: end;
}

.blog-content {
  width: 100%;
  /* min-height: 80vh; */
  display: flex;
  justify-content: space-between;
  /* overflow: hidden; */
  background: #1E1E1E;
  font-family: 'AfterglowRegular';
  letter-spacing: 1px;
  font-weight: 200;
  margin-bottom: -250px;

}

.left-blog-content {
  /* width: 100%; */
  padding: 50px;
  padding-right: 0;
  position: relative;

  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;



}

.leftTop-blog-content img {
  /* width: 115%; */
  width: auto;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 30px;


}

.blog-left-innerContent {
  position: absolute;
  top: 38%;
  padding: 0 20px;
}

.leftTop-blog-content {
  position: relative;
  background: #000;

}

.leftTop-blog-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  /* Adjust the opacity to make it lighter or darker */
}

.leftTop-blog-content:hover::before {
  background-color: transparent;
  /* Change to transparent on hover */
}

.blog-left-innerContent {
  position: absolute;
  top: 60%;
  left: 0;
}

.blog-left-innerContent {
  position: absolute;

  color: white;
  /* Ensuring text is visible on the overlay */
}

.blog-left-innerContent img {
  position: relative;
  border-radius: 30px;

}


.right-blog-content {
  /* width: 100%; */
  padding: 50px;
  width: 70%;
  /* margin-right: -50px; */
}


#cssportal-grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  width: 100%;
  height: 70%;
  color: #fff;
}

#cssportal-grid span {
  font-weight: 400;
  font-size: 20px;
}

#cssportal-grid p {
  font-weight: 400;
  font-size: 16px;
}

#div1 {
  grid-area: 1 / 1 / 4 / 5;
  position: relative;
  /* background-color: rgba(126, 104, 15, 0.5); */
}

#div1 div {

  /* position: absolute; */
  z-index: 1;
  bottom: 35%;
  padding: 0 15px;
}

#div1 img {
  width: 100%;
  height: 100%;
}





#div4 {
  grid-area: 1 / 5 / 4 / 7;
  position: relative;
  /* background-color: rgba(69, 158, 138, 0.5); */
}

#div4 div {

  /* position: absolute; */
  z-index: 1;
  bottom: 30%;
  padding: 0 15px;
}

#div4 img {
  width: 100%;
  height: 100%;
}

#div5 {
  position: relative;
  grid-area: 4 / 4 / 7 / 7;
  /* background-color: rgba(252, 169, 205, 0.5); */
  /* height: 50%; */

}

#div5 div {

  /* position: absolute; */
  z-index: 1;
  bottom: 20%;
  padding: 0 5px;
  padding-left: 20px;
}

#div5 img {
  width: 100%;
  height: 70%;
}

#div6 {
  position: relative;
  grid-area: 4 / 1 / 7 / 4;
  /* background-color: rgba(148, 79, 149, 0.5); */
}

#div6 div {

  /* position: absolute; */
  z-index: 1;
  bottom: 20%;
  padding: 0 5px;
  padding-left: 20px;
}

#div6 img {
  width: 100%;
  height: 70%;
}

/* #cssportal-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
} */

#cssportal-grid div {
  position: relative;
  /* overflow: hidden; */
}

/* #cssportal-grid img {
  display: block;
  width: 100%;
  height: auto;
} */

/* #cssportal-grid div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
 
  z-index: 1;
} */

#div5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Adjust the opacity to make it lighter or darker */
  z-index: 1;
  border-radius: 37px;

}

#div6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Adjust the opacity to make it lighter or darker */
  z-index: 1;
  border-radius: 37px;

}

#div1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Adjust the opacity to make it lighter or darker */
  z-index: 1;
  border-radius: 36px;
}

#div4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Adjust the opacity to make it lighter or darker */
  z-index: 1;
  border-radius: 38px;

}

#cssportal-grid div:hover::before {
  background-color: transparent;
  /* Change to transparent on hover */
}

#cssportal-grid div:hover img {
  /* transform: scale(1.1); */
  /* Example: Scale the image on hover */
}







.Top-Wordsmiths {
  font-size: 40px;
  font-family: 'AfterglowRegular';
  color: #fff;
  letter-spacing: 2px;
  font-weight: 100;
}

ul {
  list-style: none;
}

.example-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-1 .icon-content {
  margin: 0 10px;
  position: relative;
  margin-top: 40px;
}

.example-1 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}

.example-1 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -40px;
}

.example-1 .icon-content img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 65px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.example-1 .icon-content .link:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-1 .icon-content .link svg {
  width: 30px;
  height: 30px;
}

.example-1 .icon-content .link[data-social="spotify"]:hover {
  color: #1db954;
}

.example-1 .icon-content .link[data-social="pinterest"]:hover {
  color: #bd081c;
}

.example-1 .icon-content .link[data-social="dribbble"]:hover {
  color: #ea4c89;
}

.example-1 .icon-content .link[data-social="telegram"]:hover {
  color: #0088cc;
}