.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ensure the container takes at least the full height of the viewport */
}

.content {
  flex: 1;
  /* Allow the content area to expand to fill available space */
}